/**
 * ==================================================
 * Imports para diálogos y otros necesarios
 * ==================================================
 */
@import url('/css/login.css');
@import url('/css/user.css');
@import url('/css/posts.css');

@media screen {
    
    /**
     * ==================================================
     * Reglas CSS generales de la página
     * ==================================================
     */
    
    #main {
        display:block;
        background-color:rgb(231,231,231);
        background-image: linear-gradient(white 2px, transparent 2px),
            linear-gradient(90deg, white 2px, transparent 2px),
            linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
        background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    }
    
    #cuerpo {
        margin:0 auto 0 auto;
	width:800px;
    }
    
    #losPosts {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .post {
        width:100%;
        border-radius: 14px;
        min-height: 100px;
        text-align: justify;
        color:rgb(110,110,110);
        margin-top: 30px;
        -webkit-box-shadow: 0px 0px 10px rgba(175, 219, 233, 0.9);
        -moz-box-shadow:    0px 0px 10px rgba(175, 219, 233, 0.9);
        box-shadow:         0px 0px 10px rgba(175, 219, 233, 0.9);
        background-color: #fff; 
        background-image:linear-gradient(#eee .1em, transparent .1em);
        background-size: 100% 1.2em;
        
    }
    
    #cargarMas {
        height: 20px;
        margin-top: 30px;
        margin-bottom: 100px;
        text-align: center;
        padding: 10px;
        background-color:lightblue;
        color:rgb(110,110,110);
        border: solid lightblue 3px;
        border-radius: 14px;
        font-weight: bold;
        cursor: pointer;
    }
    
    #cargarMas:hover {
        font-size: 18px;
        -webkit-box-shadow: 0px 0px 10px rgba(175, 219, 233, 0.9);
        -moz-box-shadow:    0px 0px 10px rgba(175, 219, 233, 0.9);
        box-shadow:         0px 0px 10px rgba(175, 219, 233, 0.9);
    }
    
    /**
     * ==================================================
     * Estilos para el menú del pié.
     * ==================================================
     */
    
    #botonLogin, #botonAdd, #botonHerramientas, 
    #botonCensura, #botonUsuarios {
        position: fixed;
        width: 70px;
        height: 70px;
        bottom: 0px;
        left: 50%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
    }
    
    #botonLogin img, #botonAdd img, #botonHerramientas img, 
    #botonCensura img, #botonUsuarios img {
        margin-top: 3px;
    }
    
    #botonLogin:hover {
        height: 80px;
        -webkit-box-shadow: 0px -2px 13px rgba(255, 165, 0, 0.9);
        -moz-box-shadow:    0px -2px 13px rgba(255, 165, 0, 0.9);
        box-shadow:         0px -2px 13px rgba(255, 165, 0, 0.9);
    }
    
    #botonAdd:hover {
        height: 80px;
        -webkit-box-shadow: 0px -2px 13px rgba(0, 129, 0, 0.9);
        -moz-box-shadow:    0px -2px 13px rgba(0, 129, 0, 0.9);
        box-shadow:         0px -2px 13px rgba(0, 129, 0, 0.9);
    }
    
    #botonHerramientas:hover {
        height: 80px;
        -webkit-box-shadow: 0px -2px 13px rgba(137, 45, 223, 0.9);
        -moz-box-shadow:    0px -2px 13px rgba(137, 45, 223, 0.9);
        box-shadow:         0px -2px 13px rgba(137, 45, 223, 0.9);
    }
    
    #botonAdd {
        margin-left: -115px;
        background-color:green;
    }
    
    #botonLogin {
        margin-left: -35px;
        background-color: orange;
    }
    
    #botonHerramientas {
        margin-left: 45px;
        background-color: blueviolet;
    }
    
    /**
     * ==================================================
     * Estilos para los meta-datos del post
     * ==================================================
     */
    
    .postInfo {
        width: 117px;
        text-align: center;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        
        /* fallback */
        background-color: #1a82f7;
        background-image: url('/img/bg-post-info.png');
        background-repeat: repeat-y;

        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, left top, right top, from(0.8, lightblue), to(rgba(175,219,233,0.1)));

        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(left, lightblue 80%, rgba(175,219,233,0.1));

        /* Firefox 3.6+ */
        background: -moz-linear-gradient(left, lightblue 80%, rgba(175,219,233,0.1));

        /* IE 10 */
        background: -ms-linear-gradient(left, lightblue 80%, rgba(175,219,233,0.1));

        /* Opera 11.10+ */
        background: -o-linear-gradient(left, lightblue 80%, rgba(175,219,233,0.1));
        
        padding-top: 10px;
        padding-bottom:10px;
    }
    
    .postInfo .dia {
        margin-top: 20px;
        margin-left: -30px;
        font-weight:bold;
        font-size: 2em;
    }
    
    .postInfo .mes {
        margin-top: 10px;
        margin-left: -30px;
        font-weight: bold;
        font-size: 1em;
    }
    
    .postInfo .botonEditar {
        margin-left: -30px;
    }
    
    .botonEditar img {
        margin-top: -20px;
    }
    
    .botonEliminar {
        position: absolute;
/*        margin-left: 780px;
        margin-top: -15px;*/
        margin-top: 15px;
        margin-left: -10px;
        cursor: pointer;
        background-color: rgba(255,0,0,0.3);
        border-radius: 20px;
    }
    
    .botonEliminar:first-of-type {
        margin-top:-15px;
    }
    
    .botonEliminar span {
        vertical-align: middle;
    }
    
    .dispositivo {
        display: inline-block;
        font-size: 0.6em;
        float: right;
        margin-top: 3px;
    }
    
    /**
     * ==================================================
     * Estilos para el contenido del post 
     * (lo que se publique)
     * ==================================================
     */
    
    .postTexto {
        padding:1%;
        font-size: 1em;
    }   
}
 
@media screen and (max-width:800px) {
    
    #cuerpo {
        width: 90%;
        margin-left: 30px;
        margin-right: 30px;
    }
}
    
@media screen and (max-width:430px) {
    
    #cuerpo {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .postInfo {
        width:60px;
        padding-left: 10px;
    }
    
    .postInfo .dia, .postInfo .mes {
        font-size: 0.9em;
    }
    
    #botonAdd, #botonLogin, #botonHerramientas {
        width: 45px;
        height: 45px;
    }
    
    #botonAdd:hover, #botonLogin:hover, #botonHerramientas:hover {
        height: 60px;
    }
    
    #botonAdd img, #botonLogin img, #botonHerramientas img {
        width: 32.5px;
        height: 32.5px;
    }
    
    #botonLogin {
        margin-left: -25px;
    }
    
    #botonAdd {
        margin-left: -80px;
    }
    
    #botonHerramientas {
        margin-left: 30px;
    }
}